.underdog-regular {
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color:rgb(20, 205, 255)
}
#parentCanvas{
    display:flex;
    justify-content: center;
    align-items: center;
}
.title{
    top:0; left:0;
    width:100%;
    text-align: center;
}
#FlappyBird{
    display:inline-block;
    background-color: rgba(0,0,0,0.8);
    border-radius: 12px;
    size:100px;
    color:rgb(255, 47, 47); 
    font-family:monospace;
    padding: 10px 50px;
}
canvas{
    display:flex;
    padding: 10px;
    touch-action: none;
    -webkit-touch-callout: none;
}  

#popup{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#popup-box{
    background: rgb(60, 0, 0);
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 10px 10px 15px 5px rgba(100, 0, 0, 0.5);
}
#GameOver{
    color: red;
    font-family: 'Underdog', sans-serif;
}
#scoreText{
    font-family: fantasy;
    font-size: 20px;
    font-weight: bold;
    color: greenyellow;
}
#popup.hidden{
    display: none;
}

#popup button{
    background: linear-gradient(45deg, #ff6b6b, #F7a3a3);
    color: white;
    padding: 15px 15px;
    font-size: 16px;
    border: none;
    border-radius:50px;
    cursor:pointer;
    box-shadow:0 10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#popup button:hover{
    background: linear-gradient(45deg, #f7a3a3, #ff6b6b);
    box-shadow: 0 6px 12px rgba(0,0,0, 0.3);
}

.StartBtns{
    display:inline;
    background: linear-gradient(45deg, rgb(230, 50, 55), rgb(230, 130, 50));
    color: white;
    padding: 15px 30px;
    font-size: 50px;
    border: white;
    border-radius: 0;
    cursor: pointer;
    box-shadow:0 10px 15px,rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}
.StartBtns:hover{
    background: linear-gradient(45deg, rgb(230, 130, 50), rgb(230, 50, 55));
    box-shadow:0 15px 10px,rgba(0,0,0,0.3);    
}
.StartBtns:active{
    border-radius:12px;
    transform: scale(0.95);
}

#description{
    background-color: rgba(100,200,200,0.8);
    font-size:20px;
    color: blue;
    margin:auto;
    border-radius: 60px;
    padding:30px;
    width:80%;
    text-align: center;
}
#description .description-box{
    padding: 15px;
    background: linear-gradient(45deg,  rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    border-radius: 12px;
}

#description h2{
    color: red;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgb(255, 255, 30));
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 12px 12px  rgba(0, 0, 0, 0.2);

}
#description h3{
    color: black;
    font-weight: bold;
}

#description label{
    color: black;
    font-weight: bold;
    display:inline;
}
#description input{
    border-radius: 16px;
    background-color: rgba(230, 230, 255);
    width: 80px;
    border-width: 5px;
    border-color: navy;
}
#description input:focus{
    border-color: #f00;
    box-shadow: 0 0 5px #f00;
    transition: all 0.3s ease;
}
#description input:hover{
    border-color: #00f;
    box-shadow: 0 0 5px #00f;
    transition: all 0.3s ease;
}


#description .hr2{
    border-radius: 5px;
    border-width: 2px;
    border-color: slateblue;
}
.levelBtns{
    padding: 15px 15px;
    font-size: 50px;

}
.levelBtn{
    border-radius: 1px;
    border: none;
    cursor: pointer;
    transition: all 0.3s  ease;
}
.easy{
    color:white;
    border-radius: 1px;
    background-color: rgba(255 255 255 0.6);
    box-shadow: 0 15px 30px #030;
}
.easy:hover{
    background: linear-gradient(45deg, #0b0, #afa);
    box-shadow: 0 15px 15px #030;
}
.easy.active{
    background: linear-gradient(45deg, #afa, #0b0);
    border-radius: 12px;
    box-shadow: 0 10px 10px #030;
    color:white;
}

.normal{
    color: white;
    background-color: rgba(255 255 255 0.6);
    box-shadow: 0 15px 30px #003;
}
.normal:hover{
    background: linear-gradient(45deg, #00b, #aaf);
    box-shadow: 0 15px 15px #003;
}
.normal.active{
    background: linear-gradient(45deg, #aaf, #00b);
    border-radius: 12px;
    box-shadow: 0 10px 10px #003;
    color:white;
}

.hard{
    color: white;
    background-color: rgba(255 255 255 0.6);
    box-shadow: 0 15px 30px #300;
}
.hard:hover{
    background: linear-gradient(45deg, #b00, #faa);
    box-shadow: 0 15px 15px #300;
}
.hard.active{
    background: linear-gradient(45deg, #faa, #b00);
    border-radius: 12px;
    box-shadow: 0 10px 10px #300;
    color:white;
}