<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ボサボササボテンサボ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mario.css') }}">
</head>
<body>
    <h1>ボサボササボテンサボ</h1>
    <button id="reset">リセット</button>
    <div id="parentCanvas">
        <canvas id="canvas"></canvas>
    </div>

    <script src="{{ url_for('static', filename='mario.js' ) }}"></script>
</body>
</html>